@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";

@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";

@import "tailwindcss";
@import "./theme.css";
@import "./typography.css";
@import "./hero.css";
@import "./resume.css";

html {
  background: var(--color-background);
}

body {
  margin: 0;
  min-height: 100vh;

  background: var(--color-background);
  color: var(--color-text-primary);
}

