
$container-width: 980px !default;
$grid-gutter:     10px !default;
$white:             #fff;
$black:             #333;
$text_color:        $black;
$body-font: "Open Sans", arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol" !default;
$body-font-size: 13px !default;
$mono-font: Consolas, "Liberation Mono", Menlo, Courier, monospace !default;