---
title: "Resume"
layout: resume
permalink: "/resume.html"
---
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  
    <!-- Google font typography settings - defined in _config.yml -->
    {% if site.resume_theme == 'default' %}
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,300,800,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet" type='text/css'>
    {% endif %}
  
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/resume.css">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="icon" type="image/x-icon" href="favicon.png" />
  </head>

  <body class="theme-default">
    <div class="wrapper" itemscope itemtype="http://schema.org/Person">
        <meta itemprop="telephone" content="+55 85981876535"/>
        <meta itemprop="address" content="Rua Pedro Sampaio, 148. FOrtaleza-Ce | Brasil"/>
    
        <header class="page-header">
            <img src="{{ site.baseurl }}/assets/images/avatar2.png" alt="my photo" class="avatar no-print" itemprop="image">
        
            <h1 class="header-name" itemprop="name">Marcio Mota</h1>

            <div class="header-contact-info">
                <p>
                    148 Pedro Sampaio St – Fortaleza, CE – Brazil • marcio.mota@gmail.com <br />
                    +55 85 98187-6535 • @mamura
                </p>
            </div>

            <div class="title-bar no-print">
                <h2 class="header-title" itemprop="jobTitle">Fullstack | PHP | Node </h2>
                <ul class="icon-links">
                    <li class="icon-link-item">
                        <a href="https://github.com/mamura" class="icon-link" itemprop="sameAs">
                            <svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 28 28" enable-background="new 0 0 28 28" xml:space="preserve" width="28">
                            <path id="GitHub" fill-rule="evenodd" clip-rule="evenodd" fill="#D1CECC" d="M14.01,0C6.27,0-0.01,6.28-0.01,14.02
                            c0,6.19,4.02,11.45,9.59,13.3c0.7,0.13,0.96-0.3,0.96-0.68c0-0.33-0.01-1.21-0.02-2.38c-3.9,0.85-4.72-1.88-4.72-1.88
                            c-0.64-1.62-1.56-2.05-1.56-2.05c-1.27-0.87,0.1-0.85,0.1-0.85c1.41,0.1,2.15,1.44,2.15,1.44c1.25,2.14,3.28,1.52,4.08,1.16
                            c0.13-0.91,0.49-1.52,0.89-1.87c-3.11-0.35-6.38-1.56-6.38-6.93c0-1.53,0.55-2.78,1.44-3.76C6.37,9.17,5.89,7.74,6.65,5.81
                            c0,0,1.18-0.38,3.85,1.44c1.12-0.31,2.32-0.47,3.51-0.47c1.19,0.01,2.39,0.16,3.51,0.47c2.68-1.81,3.85-1.44,3.85-1.44
                            c0.76,1.93,0.28,3.35,0.14,3.71c0.9,0.98,1.44,2.23,1.44,3.76c0,5.38-3.28,6.57-6.4,6.92c0.5,0.43,0.95,1.29,0.95,2.6
                            c0,1.87-0.02,3.39-0.02,3.84c0,0.37,0.25,0.81,0.96,0.67c5.56-1.86,9.58-7.11,9.58-13.3C28.03,6.28,21.75,0,14.01,0z"/>
                            </svg>
                        </a>
                    </li>
                
                    <li class="icon-link-item">
                        <a href="https://twitter.com/mamura" class="icon-link" itemprop="sameAs">
                            <svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 28 28" enable-background="new 0 0 28 28" xml:space="preserve" width="28">
                            <path id="Twitter" fill="#D1CECC" d="M14,0C6.27,0,0,6.27,0,14s6.27,14,14,14s14-6.27,14-14S21.73,0,14,0z M20.69,10.57
                            c0.01,0.15,0.01,0.3,0.01,0.45c0,4.56-3.47,9.82-9.82,9.82c-1.95,0-3.76-0.57-5.29-1.55c0.27,0.03,0.54,0.05,0.82,0.05
                            c1.62,0,3.11-0.55,4.29-1.48c-1.51-0.03-2.79-1.03-3.23-2.4c0.21,0.04,0.43,0.06,0.65,0.06c0.31,0,0.62-0.04,0.91-0.12
                            c-1.58-0.32-2.77-1.71-2.77-3.39c0-0.01,0-0.03,0-0.04c0.47,0.26,1,0.41,1.56,0.43c-0.93-0.62-1.54-1.68-1.54-2.87
                            c0-0.63,0.17-1.23,0.47-1.74c1.7,2.09,4.25,3.46,7.12,3.61c-0.06-0.25-0.09-0.52-0.09-0.79c0-1.91,1.55-3.45,3.45-3.45
                            c0.99,0,1.89,0.42,2.52,1.09c0.79-0.15,1.53-0.44,2.19-0.84c-0.26,0.81-0.81,1.48-1.52,1.91c0.7-0.08,1.36-0.27,1.98-0.54
                            C21.95,9.47,21.37,10.08,20.69,10.57z"/>
                            </svg>
                        </a>
                    </li>
                
                    <li class="icon-link-item">
                        <a href="https://www.linkedin.com/in/marciomota-mamura" class="icon-link" itemprop="sameAs">
                            <svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 28 28" enable-background="new 0 0 28 28" xml:space="preserve" width="28">
                            <path id="LinkedIn" fill="#D1CECC" d="M18.82,15.09v3.61h-2.09v-3.37c0-0.85-0.3-1.42-1.06-1.42c-0.58,0-0.92,0.39-1.07,0.77
                            c-0.06,0.13-0.07,0.32-0.07,0.51v3.52h-2.09c0,0,0.03-5.71,0-6.3h2.09v0.89c0,0.01-0.01,0.01-0.01,0.02h0.01V13.3
                            c0.28-0.43,0.77-1.04,1.89-1.04C17.79,12.25,18.82,13.16,18.82,15.09z M9.18,18.7h2.09v-6.3H9.18V18.7z M10.24,9.36
                            c-0.72,0-1.19,0.47-1.19,1.09c0,0.61,0.45,1.09,1.16,1.09h0.01c0.73,0,1.18-0.48,1.18-1.09C11.39,9.84,10.95,9.36,10.24,9.36z
                            M28,14c0,7.73-6.27,14-14,14S0,21.73,0,14S6.27,0,14,0S28,6.27,28,14z M20.93,8.02c0-0.55-0.46-1-1.02-1H8.09
                            c-0.57,0-1.02,0.45-1.02,1v11.96c0,0.55,0.46,1,1.02,1h11.82c0.57,0,1.02-0.45,1.02-1V8.02z"/>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="executive-summary" itemprop="description">
                <p>
                    Experienced Technical Leader with a strong background in managing complex software projects, optimizing system efficiency, and driving product improvements. Proficient in Agile methodologies, PHP development, and cross-functional team leadership. Demonstrates a consistent ability to deliver high-impact solutions, foster team growth, and align technical strategies with business goals.
                </p>
            </div>

            <a href="mailto:marcio.mota@gmail.com" class="contact-button no-print" itemprop="email">Contato</a>
        </header>

        <section class="content-section">
            <header class="section-header">
                <h2>Experiências</h2>
            </header>

            <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
                <h3 class="resume-item-title" itemprop="name">IEBT Innovation</h3>
                <h4 class="resume-item-details" itemprop="description">Senior PHP Developer &bull; Fev, 2025 - Mai, 2025</h4>
                <p class="resume-item-copy">
                    <ul>
                        <li>Worked on the development of a payroll loan system for PicPay.</li>
                        <li>Applied Clean Code architecture using Laravel in the presentation layer (API).</li>
                        <li>Integrated the system into PicPay's ecosystem.</li>
                        <li>Frontend built with React as a standalone SPA.</li>
                        <li>Responsible for the commission module, including business rules, persistence, validations, and service integration endpoints.</li>
                    </ul>

                    <span> Technologies: PHP, Laravel, MySQL, Docker, React, GitHub</span>
                </p>
            </div>

            <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
                <h3 class="resume-item-title" itemprop="name">Fundação Hemominas</h3>
                <h4 class="resume-item-details" itemprop="description">Tech Lead &bull; Sep, 2022 - Nov, 2024</h4>
                <p class="resume-item-copy">
                    <ul>
                        <li>Led the team through technical challenges with in-depth system knowledge.</li>
                        <li>Investigated and resolved software issues through system analysis.</li>
                        <li>Collaborated with upper management to discuss project risks and opportunities.</li>
                        <li>Resolved application issues reported by users or clients.</li>
                        <li>Reviewed requirement documents for completeness and accuracy before implementation.</li>
                        <li>Developed technical strategies to enhance customer satisfaction and operational efficiency.</li>
                        <li>Provided technical guidance to the team on product design, coding practices, testing methodologies, and debugging procedures.</li>
                        <li>Mentored junior developers in PHP, JavaScript, HTML5, CSS3, and other technologies.</li>
                        <li>Participated in Agile Scrum meetings to review sprint progress and discuss blockers.</li>
                        <li>Optimized existing applications by refactoring code and implementing new technologies.</li>
                    </ul>

                    <span> Technologies: PHP, Laravel, MySQL, Oracle, Docker, Git, Jira</span>
                </p>
            </div>

            <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
                <h3 class="resume-item-title" itemprop="name">Leoa</h3>
                <h4 class="resume-item-details" itemprop="description">Senior PHP Developer &bull; Out, 2020 - Nov, 2022</h4>
                <p class="resume-item-copy">
                    <ul>
                        <li>Implemented yearly updates for federal tax declaration rules.</li>
                        <li>Investigated and resolved software issues through system analysis.</li>
                        <li>Redesigned the internal operations system.</li>
                        <li>Created a new product for affiliates.</li>
                    </ul>

                    <span> Technologies: PHP, YII, MySQL, Docker</span>
                </p>
            </div>

            <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
                <h3 class="resume-item-title" itemprop="name">RB Serviços</h3>
                <h4 class="resume-item-details" itemprop="description">Senior PHP Developer &bull; Mar, 2021 - Jul, 2022</h4>
                <p class="resume-item-copy">
                    <ul>
                        <li>Maintained the company's financial system (legacy system).</li>
                        <li>Developed an API for integration with external applications.</li>
                        <li>Proposed new system architectures and development processes.</li>
                        <li>Specialized functionalities according to new business rules for each supplier or client.</li>
                    </ul>

                    <span> Technologies: PHP, Node, ExtJs, MySQL, Laravel</span>
                </p>
            </div>

            <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
                <h3 class="resume-item-title" itemprop="name">PrimeIT</h3>
                <h4 class="resume-item-details" itemprop="description">Systems Analyst &bull; Mar, 2022 - Mai, 2022</h4>
                <p class="resume-item-copy">
                    <ul>
                        <li>Developed a JavaScript program to address accessibility requirements for Portugal’s Ministry of Health websites.</li>
                        <li>Acted as a systems analyst and JavaScript developer.</li>
                        <li>Created the base layer for EasyApp, integrating accessibility modules into the Ministry’s websites.</li>
                    </ul>

                    <span> Technologies: Vanilla JS, WordPress</span>
                </p>
            </div>

            <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
                <h3 class="resume-item-title" itemprop="name">Prefeitura de Sobral</h3>
                <h4 class="resume-item-details" itemprop="description">Systems Analyst &bull; Jun, 2018 - Fev, 2019</h4>
                <p class="resume-item-copy">
                    <ul>
                        <li>Implemented public management systems in finance, education, and health areas.</li>
                        <li>Led brainstorms and architectural decisions, encouraging best design practices.</li>
                        <li>Led the development of bidding and contract management systems, gathering requirements and defining system processes.</li>
                        <li>Created a development process to streamline product deliveries.</li>
                    </ul>

                    <span> Technologies: PHP, Laravel, Java, Primefaces, PostgreSQL</span>
                </p>
            </div>

            <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
                <h3 class="resume-item-title" itemprop="name">Prefeitura de Fortaleza</h3>
                <h4 class="resume-item-details" itemprop="description">Systems Analyst &bull; Jun, 2018 - Fev, 2019</h4>
                <p class="resume-item-copy">
                    <ul>
                        <li>Implemented public management systems in finance, education, and health areas.</li>
                        <li>Led brainstorms and architectural decisions, encouraging best design practices.</li>
                        <li>Led the development of bidding and contract management systems, gathering requirements and defining system processes.</li>
                        <li>Created a development process to streamline product deliveries.</li>
                    </ul>

                    <span> Technologies: PHP, Laravel, Java, Primefaces, PostgreSQL</span>
                </p>
            </div>

            <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
                <h3 class="resume-item-title" itemprop="name">Grupo Rabelo</h3>
                <h4 class="resume-item-details" itemprop="description">E-commerce Analyst &bull; 2012 - 2013</h4>
                <p class="resume-item-copy">
                    <ul>
                        <li>Monitored project progress using tools like Jira and Trello, providing regular status updates.</li>
                        <li>Designed and implemented databases (Oracle, PostgreSQL, MySQL, MariaDB) for websites and internal systems, focusing on performance optimization.</li>
                        <li>Assisted in onboarding new developers to familiarize them with the existing codebase.</li>
                        <li>Provided technical support to customers via phone and email.</li>
                    </ul>

                    <span> Technologies: PHP, Slim, Magento, PostgreSQL</span>
                </p>
            </div>

            <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
                <h3 class="resume-item-title" itemprop="name">Sistema Verdes Mares de Comunicação</h3>
                <h4 class="resume-item-details" itemprop="description">Systems Analyst &bull; 2010 - 2012</h4>
                <p class="resume-item-copy">
                    <ul>
                        <li>Performed functional testing of software applications.</li>
                        <li>Provided technical guidance on new implementations and system improvements.</li>
                        <li>Analyzed, designed, and developed systems to support business processes.</li>
                        <li>Provided application support and resolved complex software issues.</li>
                        <li>Used Agile methodology throughout the software development lifecycle.</li>
                    </ul>

                    <span> Technologies: PHP, Doctrine, CodeIgniter, MySQL</span>
                </p>
            </div>

            <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
                <h3 class="resume-item-title" itemprop="name">NOIX Internet</h3>
                <h4 class="resume-item-details" itemprop="description">Development Manage &bull; 2008 - 2010</h4>
                <p class="resume-item-copy">
                    <ul>
                        <li>Collaborated with business managers to define scopes and product features.</li>
                        <li>Created detailed project plans including timelines and resource allocation.</li>
                        <li>Ensured development team followed best practices like Agile methodology and Scrum principles.</li>
                    </ul>

                    <span> Technologies: PHP, Magento, Joomla, JavaScript, PostgreSQL</span>
                </p>
            </div>

            <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
                <h3 class="resume-item-title" itemprop="name">Tribunal de Contas do Ceará</h3>
                <h4 class="resume-item-details" itemprop="description">PHP Developer &bull; 2005 - 2009</h4>
                <p class="resume-item-copy">
                    <ul>
                        <li>Developed, tested, and maintained web applications using PHP, MySQL, HTML5, CSS3, and JavaScript.</li>
                        <li>Created dynamic websites that interacted with users through forms, databases, and APIs.</li>
                        <li>Designed web interfaces using HTML5, CSS3, jQuery, and AJAX.</li>
                    </ul>

                    <span> Technologies: PHP, Symfony, PostgreSQL, WordPress</span>
                </p>
            </div>

            <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
                <h3 class="resume-item-title" itemprop="name">Prefeitura Municipal de Fortaleza</h3>
                <h4 class="resume-item-details" itemprop="description">Fullstack PHP Developer &bull; 2002 - 2005</h4>
                <p class="resume-item-copy">
                    <ul>
                        <li>Collaborated with other developers to design RESTful web service APIs.</li>
                        <li>Managed deployment of web applications on multiple servers.</li>
                        <li>Resolved cross-browser compatibility issues using CSS and JavaScript solutions.</li>
                        <li>Improved application scalability by optimizing queries and refactoring code.</li>
                        <li>Designed database schemas to efficiently store large volumes of data.</li>
                    </ul>

                    <span> Technologies: PHP, WordPress, PostgreSQL, Oracle, Zend Framework, Java, ASP</span>
                </p>
            </div>
        </section>

        <section class="content-section">
            <header class="section-header">
              <h2>Education</h2>
            </header>
            
            <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
              <h3 class="resume-item-title" itemprop="name">Estácio University</h3>
              <h4 class="resume-item-details group" itemprop="description">Systems Analysis and Development &bull; 2018 - 2022</h4>
              <h5 class="resume-item-details award-title" itemprop="description"></h5>
              <p class="resume-item-copy" itemprop="description">
                <ul class="resume-item-list">
                  
                </ul>
    
              <p class="resume-item-copy"></p>
            </div>
        </section>

        <section class="content-section">

            <header class="section-header">
                <h2>Cursos e Formações</h2>
            </header>
            <div class="resume-item" itemscope itemprop="memberOf" itemtype="http://schema.org/Course">
                <h3 class="resume-item-title" itemprop="name"><a href="https://www.alura.com.br/">Alura</a></h3>
                <h4 class="resume-item-details" itemprop="description">Essential Tools for Developers &bull; 2025</h4>
                <p class="resume-item-copy">
                    <ul>
                        <li>Git and GitHub: sharing and collaborating on projects</li>
                        <li>Git and GitHub: mastering version control</li>
                        <li>Terminal: learn commands to automate tasks</li>
                        <li>Windows Prompt: using CMD</li>
                        <li>Regular Expressions: search, validate, and replace text</li>
                        <li>Swagger: documenting your APIs</li>
                        <li>NGINX: Web Server, Reverse Proxy, and API Gateway</li>
                        <li>NGINX Part 2: performance, FastCGI, and HTTPS</li>
                        <li>VSCode: tips and tricks</li>
                        <li>ChatGPT and Programming: boost your productivity</li>
                        <li>ChatGPT: optimizing result quality</li>
                        <li>GitHub Copilot and ChatGPT: enhancing development with AI</li>
                        <li>API Design Patterns: from HTTP to API modeling</li>
                    </ul>
                </p>
            </div>

            <div class="resume-item" itemscope itemprop="memberOf" itemtype="http://schema.org/Course">
                <h3 class="resume-item-title" itemprop="name"><a href="https://www.alura.com.br/">Alura</a></h3>
                <h4 class="resume-item-details" itemprop="description">Tech Lead Training Program &bull; 2024</h4>
                <p class="resume-item-copy">
                    <ul>
                        <li>Tech Lead Career: understanding technical leadership</li>
                        <li>Tech Lead: establishing management practices and routines</li>
                        <li>Tech Lead: managing people and driving high performance</li>
                        <li>Tech Lead: developing communication skills</li>
                    </ul>
                </p>
            </div>
            
            <div class="resume-item" itemscope itemprop="memberOf" itemtype="http://schema.org/Course">
                <h3 class="resume-item-title" itemprop="name"><a href="https://www.alura.com.br/">Alura</a></h3>
                <h4 class="resume-item-details" itemprop="description">Learn to Program in JavaScript (Back-End Focus) &bull; 2022</h4>
                <p class="resume-item-copy">
                    <ul>
                        <li>JavaScript: using types, variables, and functions</li>
                        <li>JavaScript: understanding arrays</li>
                        <li>JavaScript: understanding objects</li>
                        <li>JavaScript with Node.js: creating your first library</li>
                        <li>JavaScript: Object-Oriented Programming</li>
                    </ul>
                </p>
            </div>

            <div class="resume-item" itemscope itemprop="memberOf" itemtype="http://schema.org/Course">
                <h3 class="resume-item-title" itemprop="name"><a href="https://www.alura.com.br/">Alura</a></h3>
                <h4 class="resume-item-details" itemprop="description">Learn to Program in PHP &bull; 2022</h4>
                <p class="resume-item-copy">
                    <ul>
                        <li>PHP: concepts, handling data, loops, and more</li>
                        <li>Advancing with PHP: Arrays, Strings, Functions, and Web</li>
                        <li>PHP: manipulating collections with Arrays</li>
                        <li>PHP Strings: handling text in PHP</li>
                        <li>Object-Oriented Programming with PHP: classes, methods, and attributes</li>
                        <li>Advanced OOP in PHP: inheritance, polymorphism, and interfaces</li>
                        <li>PHP I/O: working with files and streams</li>
                        <li>PHP Exceptions: error handling</li>
                    </ul>
                </p>
            </div>
        </section>

        <footer class="page-footer">
            <p class="footer-line">Feito por <a href="http://twitter.com/mamura">@mamura</a>. </p>
          </footer>
    </div>
  </body>
  </html>
